<%- include('header') %>

<h1>Welcome to Task Manager</h1>
<p>Manage your tasks easily using the navigation above.</p>

<br>
<a href="/tasks" class="btn btn-primary">View All Tasks</a>
<a href="/tasks/new" class="btn btn-success">Create New Task</a>
<a href="/friday" class="btn btn-primary">Friday Page</a>

<%- include('footer') %>